input[type="text"],
input[type="password"] {width:100%;border:1px solid #ddd;padding:0 10px 0 40px;height:37px;line-height:35px;font-size:14px;color:#999;transition:0.3s;outline:none;}
input[type="text"]:focus,
input[type="password"]:focus {border-color:#67b20d;}
input[type="checkbox"] {display:inline-block; margin-right:5px; vertical-align:middle; margin-bottom:2px;}
textarea {width:100%;resize:none;border:1px solid #ddd;padding:10px;font-size:14px;color:#999;transition:0.3s;transition:0.3s;outline:none;}
textarea:focus {border-color:#67b20d;}
/* íŒŒì¼ì—…ë¡œë“œ */
.filebox {position:relative;padding-right:120px;}
.filebox input[type="file"] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip:rect(0,0,0,0);border: 0;}
.filebox label {display: inline-block;padding: .5em .75em;color: #999;font-size: inherit;line-height: normal;vertical-align: middle;background-color: #fdfdfd;cursor: pointer;border: 1px solid #ebebeb;
	border-bottom-color:#e2e2e2;
}

/* named upload */
.filebox .upload-name {background:#fff;display: inline-block;width:100%;height:42px;line-height:42px;font-size:15px;vertical-align:top;border:none;padding:10px;}
.filebox.bs3-primary label {position:absolute;top:0;right:0;width:120px;height:42px;padding:0;text-align:center;line-height:42px;font-size:15px;color:#666;vertical-align:top;background-color: #eee;}

/* 테이블 */
table {table-layout:fixed;vertical-align:middle;}
table.contentsTable {width:100%; border-top:1px solid #343434;}
table.contentsTable thead {background:#f8f8f8;}
table.contentsTable thead th {padding:10px; border-bottom:1px solid #d9d9d9;color:#4c4c4c; font-size:16px;}
table.contentsTable thead th:last-child {border-right:0}
table.contentsTable tbody {vertical-align:middle;}
table.contentsTable tbody tr {border-bottom:1px solid #d9d9d9;;}
table.contentsTable tbody tr th {padding:15px;background:#f8f8f8; font-size:14px; color:#333;  text-align:center;font-family:"SD_Gothic M";}
table.contentsTable tbody tr td {background:#fff;padding:15px;line-height:1.8;font-size:14px; color:#666;font-weight: 300;text-align:left;}
table.contentsTable tbody tr td:last-child {border-right: none;}



.paging {text-align:center; margin:40px 0 0 0; }
.paging > a {display:inline-block;}
.paging * {vertical-align:middle;}
.paging span.back {float:left;}
.paging .number {display:inline-block; margin:0 3px; font-weight:300; font-size:15px;}
.paging .number a {display:inline-block; width:35px; height:35px;line-height:35px; text-align:center; color:#999;border-radius:3px;border:1px solid #b3b3b3;font-family:"SD_Gothic B";transition:0.3s;margin:0 2px;}
.paging .number a:hover, .paging .number a.on {color:#fff; background-color:#76b926;border-color:#76b926;}

/* 채용정보 */
.board_search {background:#f8f8f8;padding:50px 0; text-align:center;margin-bottom:50px;z-index:1;}
.board_search input[type="text"] {border:1px solid #ccc; width:300px; padding:0px 10px;height:45px;line-height:43px;}
.board_search input[value="검색"] {background:#808080; border:none; width:68px;height:45px;line-height:45px;text-align:center; *line-height:12px; color:white; font-size:14px; vertical-align:top;}

.selectBox {position: relative;display:inline-block;vertical-align:top;width:123px;}
.selectBox a {display: block;text-align:left;padding:0 36px 0 18px;height:45px;line-height: 43px;position: relative;color:#666;background:#fff;}
.selectBox > a {border:1px solid #ddd;}
.selectBox a i {position:absolute;top:0;right:10px;line-height:45px;transition:0.2s;}
.selectBox a.on i {transform:rotate(180deg);}
.selectBox ul {position: absolute;width: 100%;top:46px;z-index:9;background:#fff;border:1px solid #ddd;display:none;}
.selectBox ul li {float: none;margin-bottom: 0;width: 100%;}
.selectBox ul li a:hover {background:#54b948;color:#fff;}
.selectBox ul li a.on {background:#54b948;color:#fff;}

.bbs-list {display:table;width:100%;border-top:1px solid #d9d9d9;table-layout:fixed;}
.bbs-list .bbs-list-row {display:table-row;}
.bbs-list .bbs-list-row .column {display:table-cell;vertical-align:middle;padding:40px;;border-bottom:1px solid #d9d9d9;transition:0.3s all ease-out;}
.bbs-list .bbs-list-row .column:nth-child(1) {width:150px;text-align:center;}
.bbs-list .bbs-list-row .subject {padding-right:190px;position:relative;}
.bbs-list .bbs-list-row .subject .title {font-size:20px;color:#4d4d4d;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-family:"SD_Gothic B";}
.bbs-list .bbs-list-row .subject .title span {display:inline-block;width:72px;position:relative;line-height:27px;font-size:15px;text-align:center;font-family:"SD_Gothic M";
	padding:0 15px;vertical-align:top;margin-right:10px;
}
.bbs-list .bbs-list-row .subject .title span.span01 {color:#67b20d;border:1px solid #67b20d;}
.bbs-list .bbs-list-row .subject .title span.span02 {color:#b3b3b3;border:1px solid #b3b3b3;}
.bbs-list .bbs-list-row .subject .sub {font-size:18px;color:#888;margin-top:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-family:"SD_Gothic M";}
.bbs-list .bbs-list-row .subject .txt {font-size:15px;color:#999;}
.bbs-list .bbs-list-row .subject .btnMore {position:absolute;top:50%;margin-top:-25px;right:0;width:150px;line-height:45px;font-size:16px;font-weight: 300;color:#ccc;
	border:2px solid #ccc;text-align:center;background:#fff;transition:0.3s all ease-out;transition:0.3s all ease-out;font-family:"SD_Gothic M";
}
.bbs-list .bbs-list-row .column .user {font-size:16px;color:#404040;line-height:24px;}
.bbs-list .bbs-list-row .column .date {font-size:18px;font-weight:600;color:#aaa;transition:0.3s all ease-out;font-family:"Lato";}
.bbs-list .bbs-list-row .column .day {font-size:45px;color:#ccc;line-height:1;transition:0.3s all ease-out;font-family:"Lato";}

table.board_view {width:100%;border-top:2px solid #67b20d;}
table.board_view thead th,table.board_list tbody th {background:#f8f8f8; border-bottom:1px solid #dddddd; padding:15px 20px; color:#4c4c4c; font-size:20px; font-weight:400;font-family:"SD_Gothic B";}
table.board_view > tbody >  tr > th {border-bottom:1px solid #ccc; padding:10px; color:#666; vertical-align:middle; font-size:15px;font-weight:300;line-height:1.6;color:#454545;}
table.board_view > tbody > tr >  td {border-bottom:1px solid #ccc; padding:15px; color:#666; vertical-align:middle; font-size:15px;font-weight:300;line-height:1.6;font-family:"SD_Gothic M";}
table.board_view tbody td dl {font-size:0; padding:5px 0;}
table.board_view tbody td dl dt {display:inline-block; position:relative; padding-right:10px; font-size:15px;font-family:"SD_Gothic M";}
table.board_view tbody td dl dt:after {content:""; display:block; position:absolute; width:1px; height:60%; background:#999; left:100%; top:25%;}
table.board_view tbody td dl dd {display:inline-block;padding-left:10px;font-size:15px;font-family:"SD_Gothic M";}
table.board_view tbody td .first {float:left;}
table.board_view tbody td .second {float:right;}
table.board_view tbody td.tableCon {padding-bottom:50px;color:unset;font-family:unset;}
table.board_view tbody td.tableCon table {width:auto !important;}

.btnWrap {width:100%;text-align:center;margin-top:30px;overflow:hidden;}
.btnWrap.btnLeft {text-align:left;}
.btnWrap.btnRight {text-align:right;}
.btnWrap a {display:inline-block;width:180px; height:45px; line-height:45px; text-align:center;color:#333;font-weight:300;border:1px solid #999;transition:0.3s all ease-out;}
.btnWrap.btn03 {margin:40px -5px 0 -5px;}
.btnWrap.btn03 div {float:left;width:33.33%;padding:0 5px;}
.btnWrap.btn03 a {display:block;width:100%;}
.btnWrap.btn03 a img {margin-top:14px;}
span.star {display:inline-block; margin:0 5px; color:#f23c43; }
.btnWrap a.gray {background: #666;color:#fff;border-color:#666;}
.btnWrap a.yellow {background: #0253a5;color:#fff;}
.btnWrap a.orange {background:#f99f00; color: #fff;}
.btnWrap a.red{background:#9b001c;color:#fff;}
.btnWrap a.green{background:#67b20d;color:#fff;border-color:#67b20d;}


table.prevNext {width:100%; border-top:1px solid #ccc; border-bottom:1px solid #ccc; margin-top:28px; font-size:15px; }
table.prevNext a {display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-family:"SD_Gothic M";}
table.prevNext th {padding:10px 0; color:#4c4c4c;}
table.prevNext td {padding:10px 0; color:#666; font-weight:300;}
table.prevNext th {padding-left:20px; text-align:left;font-family:"SD_Gothic M";}
table.prevNext td {padding-left:20px; text-align:left;}
table.prevNext td {background: url('../images/board/bg_board_tab.gif') left center no-repeat #fff;}
table.prevNext .prev th {background: url('../images/board/bg_prve_writing.gif') 80px center no-repeat #fff; border-bottom:1px solid #d9d9d9; color::#666;}
table.prevNext .prev td {border-bottom:1px solid #d9d9d9;}
table.prevNext .next th {background: url('../images/board/bg_next_writing.gif') 80px center no-repeat #fff; color:#666}




@media all and (min-width:1200px){
	.bbs-list .bbs-list-row:hover .date,
	.bbs-list .bbs-list-row:hover .day {color:#67b20d;}
	.bbs-list .bbs-list-row:hover .column {border-color:#67b20d;}
	.bbs-list .bbs-list-row:hover .subject .btnMore {background:#67b20d;color:#fff;border-color:#67b20d;}
}


@media all and (max-width:640px){
	table.contentsTable tbody tr th {font-size:14px;}
	table.contentsTable tbody tr td {font-size:14px;}

	.paging > a {width:30px;}
	.paging .number a {width:30px;height:30px;line-height:30px;}

	.filebox.bs3-primary label {height:30px;line-height:30px;}

	.btnWrap a {width:40%;}

	/* 게시판 */
	.board_search {margin-bottom:20px;}
	.bbs-list .bbs-list-row .column:nth-child(1) {width:80px;}
	.bbs-list .bbs-list-row .column .day {font-size:25px;}
	.bbs-list .bbs-list-row .column .date {font-size:13px;}
	.bbs-list .bbs-list-row .subject {padding-right:0;}
	.bbs-list .bbs-list-row .subject .title {font-size:17px;}
	.bbs-list .bbs-list-row .subject .title span {font-size:13px;line-height:20px;position:relative;top:3px;padding:0;width:50px;}
	.bbs-list .bbs-list-row .subject .sub {font-size:13px;}
	.bbs-list .bbs-list-row .column {padding:20px 0;}
	.bbs-list .bbs-list-row .subject .btnMore {display:none;}
	.bbs-list .bbs-list-row .column:nth-child(2) {padding-right:20px;}

	.board_search {background:#f0f0f0; border:1px solid #d9d9d9;padding:11px 0; text-align:center; }
	.board_search select {width:80px; height:30px;}
	.board_search input[type="text"] {border:1px solid #ccc; width:146px; height:30px;}
	.board_search input[value="검색"] {height:30px;line-height:30px;}
	.board_search .selectBox {width:83px;}
	.board_search .selectBox ul {top:-29px;}
	.board_search .selectBox a {font-size:13px;height:30px;line-height:30px;padding:0 36px 0 10px;}
	.board_search .selectBox a i {font-size:17px;line-height:30px;}
}