@charset "utf-8";
html {font-size: 16px;}
body {font-family:"Noto Sans KR"; color:#333; position: relative;height: 100%;min-height: 100%;font-weight:400;line-height: 1.5;/* max-width:1920px; */margin:auto;width:100%;}
a {text-decoration:none; color:inherit;}
legend {display: none;}
.auto { margin:0 auto;position:relative;width:1600px;}
.auto_w {margin:0 auto;position:relative;width:1600px;}
.auto:after,.clearFix:after,ol:after,ul:after,dl:after {content:""; display:block;width:0; height:0; overflow:hidden;clear:both;font-size:0; overflow: hidden;}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;outline:none;word-break:keep-all;}
button { background: none; border: 0; color: inherit; font: inherit; line-height: normal; overflow: visible; padding: 0;
	-webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
	outline:none;
}
/* .poppins {font-family:"Poppins";}
.Lato {font-family:"Lato";}
.Satisfy {font-family:"Satisfy";} */
span.green {color:#e21e26;vertical-align:top;}
strong.green {color:#e21e26;vertical-align:top;}
strong {font-weight: 700;vertical-align:top;}
img.pc {}
img.m {display:none;}
/* skip */
#skipNav {height:0; overflow: hidden;}
#skipNav li a {display: block;font-size:16px;width:100%;position:absolute;top:-9999px;left:0;text-align:center;z-index:999999;}
#skipNav li a:focus, #skipNav li a.on {position:absolute;top:0;left:0;font-weight:bold;color:#fff;background:#272727;padding:20px 0;color:#ffffff;}



/* header */



#header {position: fixed; background:#fff; width: 100%;height:100px;z-index:999;top:0;left:0;box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0);}

#header .auto_w {height:100%;}
#header .logo {position:absolute;top:50%;left:50%; transform: translate(-50%,-50%); z-index:12;}
#header .logo a {display: block;}
#header .logo a img{max-width:132px;}
#header .btnAllMenu {position:absolute;right:10px;top:50%;transform:translateY(-50%);width:26px;height:22px;z-index:1;display:none;}
#header .btnAllMenu span {display:block;width:26px;height:3px;background:#666;position:absolute;left:0;transition:all 0.25s;}
#header .btnAllMenu span:nth-child(1) {top:0px;}
#header .btnAllMenu span:nth-child(2) {top:9px;}
#header .btnAllMenu span:nth-child(3) {top:18px;}
#header .btnAllMenu.on span {background: #000;}
#header .btnAllMenu.on span:nth-child(1) {transform:rotate(-135deg);top:8px;}
#header .btnAllMenu.on span:nth-child(2) {opacity:0;left:100px;}
#header .btnAllMenu.on span:nth-child(3) {transform:rotate(135deg);top:8px;}
#header .language {
    position: absolute;
    top: 50%;
    transform: translateY(-53%);
    right: 165px;
    z-index: 2;
}
#header .language a {display:inline-block;font-size:15px;color:#231f20;font-family:"Montserrat";font-weight:700;margin-right:10px;opacity:0.8;}
#header .language a.on {opacity:1;border-bottom:2px solid #231f20;}
#header .sns {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-43%);
    right: 260px;
    z-index: 2;
}
#header .sns a.insta {display:inline-block; width:35px; height:35px; background:url('../../images/main/gnb_insta.png');   margin-right:10px;transition:0.3s ease;}
#header .sns a.youtube {display:inline-block; width:35px; height:35px; background:url('../../images/main/gnb_youtube.png');   margin-right:10px;transition:0.3s ease;}
#header .sns a.insta:hover {background:url('../../images/main/gnb_insta_hover.png');transition:0.3s ease;}
#header .sns a.youtube:hover {background:url('../../images/main/gnb_youtube_hover.png'); transition:0.3s ease;}




/* #header.color-w .language a {color:#fff;}
#header.color-w .language a.on {border-bottom-color:#fff;} */
#header .util {position:absolute;top:50%; transform:translateY(-50%);     line-height: 100%; left:130px;z-index:1;}
#header .util a {position:relative;font-size:15px; line-height:100%;display:inline-block;padding:0 11px;border-radius:20px;color:#231f20;vertical-align:middle;transition:0.3s;}
#header .util a:hover {color:#e41e26;}
#header .util a:first-child::after{position:absolute; content:''; height:15px; width:1px; background:#666; right:-4px; top:1px; }
#header .util a:last-child::after{display:none; }


/* gnb */
.gnb {background:#fff; height:80px; position: relative;z-index: 1;text-align:center; border-top:1px solid #ddd; box-shadow:  0px 20px 25px 0px rgb(0 0 0 / 2%);}
.gnb .gnbList > li {position:relative;display:inline-block;vertical-align:top;}
.gnb .gnbList > li > a {display: block;line-height:80px;color:#231f20;font-size:18px;font-weight:700;padding: 0 30px;position:relative;}
.gnb .gnbList > li > a:after {content:"";position:absolute;bottom:0;left:50%;margin-left:-11px;width:23px;height:16px;background:url("../images/layout/gnb_bg.png") no-repeat;display:none;}
/* .color-w .gnb .gnbList > li > a {color:#fff;}
 */.gnb .gnbList > li:nth-child(2) > a:after,
.gnb .gnbList > li:nth-child(3) > a:after {display:none !important;}
.gnb .gnbList > li > a span {display: inline-block;position: relative;}
.gnb .gnbList .sub {max-height:0;overflow:hidden;opacity:0;background:#fff;padding:0px 0;border-top:5px solid #e21e26;position:relative;top:-5px;transition:0.2s all ease-out;box-shadow:0 3px 3px rgba(0,0,0,.05);}
.gnb .gnbList .sub a {display:block;text-align:center;padding:0 20px;height:40px;line-height:40px;color: #231f20;font-size:14px;text-transform:uppercase;}

/* #header.on {height:60px;box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.08);background:#fff;}
#header.on .gnb{height:70px;}
#header.on .gnb .gnbList > li > a {color:#333;line-height:60px;font-size:16px;}
#header.on .gnb .gnbList .sub {top:-5px;}
#header.on .logo {padding:13px 0;}
#header.on .logo a img {height:35px}
#header.on .language a {color:#231f20;}
#header.on .language a.on {border-color:#231f20;} */


/* #header.on .language {top:16px;} */

/* #header.on .util {top:12px;}
 */
#mobileGnb {position:fixed;top:0;right:-100%;width:100%;height:100%;z-index:1000;bac kground:rgba(0,0,0,0.5);}
#mobileGnb .auto {height:100%;padding:0 !important;}
#mobileGnb .mobileGnbWrap {background:#fff;height:100%;}
#mobileGnb .mobileGnbWrap .allMenuTop {text-align:center;}
#mobileGnb .mobileGnbWrap .backCover {position:absolute;top:0;right:-100%;width:100%;height:100%;background:#fff;}
#mobileGnb .mobileGnbTop {position:absolute;top:0;left:0;width:100%;z-index:1;background:#fff;}
#mobileGnb .mobileGnbBottom {padding-top:150px;height:100%;overflow-y:auto;}
#mobileGnb .logo {text-align:center;display:inline-block;}
#mobileGnb .logo a {display: block;padding:13px 0;}
#mobileGnb .logo a img {height:35px;}
#mobileGnb .btnBasket {position:absolute;top:19px;right:10px;}
#mobileGnb .btns {padding:10px;}
#mobileGnb .btns ul {margin:-5px;}
#mobileGnb .btns ul li {float:left;width:50%;padding:5px;text-align:center;line-height:35px;font-size:14px;color:#fff;}
#mobileGnb .btns ul li a {display:block;}
#mobileGnb .btns ul li a img {margin-top:7px;}
#mobileGnb .btns ul li:nth-child(1) a {background:#ce1e25;} 
#mobileGnb .btns ul li:nth-child(2) a {background:#e21e26;} 
#mobileGnb .language {padding:0 10px;}
#mobileGnb .language .selectbox {position: relative;}
#mobileGnb .language .selectbox a {display: block;text-align:left;padding:0 10px;height:35px;line-height: 33px;position: relative;color:#666;background:#fff;font-size: 14px;}
#mobileGnb .language .selectbox > a {border:1px solid #ddd;background-repeat:no-repeat;background-position:97% 50%;background-size:9px;background-image:url("../../images/contents/icon_lang_on.png");}
#mobileGnb .language .selectbox a img {width:27px;margin-top:7px;margin-left:10px;}
#mobileGnb .language .selectbox a.on {background-image:url("../../images/contents/icon_lang_off.png");}
#mobileGnb .language .selectbox ul {position: absolute;width: 100%;top:34px;z-index:9;background:#fff;border:1px solid #ddd;display:none;}
#mobileGnb .language .selectbox ul li {float: none;margin-bottom: 0;width: 100%;}
#mobileGnb .language .selectbox ul li a:hover {background:#54b948;color:#fff;}
#mobileGnb .language .selectbox ul li a.on {background:#54b948;color:#fff;}

#mobileGnb .gnbList {overflow:hidden;padding:10px;}
#mobileGnb .gnbList > li {text-align:left;overflow:hidden;padding:15px 0;border-top:1px solid #d9d9d9;position:relative;}
#mobileGnb .gnbList > li:first-child {margin-top:0;}
#mobileGnb .gnbList > li:after {content:""; display:block;width:0;height:0; font-size:0;clear:both;}
#mobileGnb .gnbList > li > a {float:left;width:50%;font-size:40px;display:block;color:#4c4c4c;text-align:left;padding-left:20px;position:relative;}
#mobileGnb .gnbList > li > a span {position:relative;}
#mobileGnb .gnbList > li .sub {float:left;width:50%;text-align:left;}
#mobileGnb .gnbList > li .sub li {position:relative;}
#mobileGnb .gnbList > li .sub li a {display:block;font-size:20px;line-height:30px;color:#999;position:relative;font-weight:500;}
/* #mobileGnb .gnbList > li .sub li a span {font-size:0.8em; position:absolute; bottom:-17px; left:25px; color:#999;} */
#mobileGnb .gnbList > li .sub li .depth3 {display: none;}
#mobileGnb .gnbLogo img { display: block; width: 48%;margin:0 auto;padding-top:40px;}
#mobileGnb .btnAllMenuClose {position:absolute;top:20px;left:10px;}

#mobileGnb .memberMenu > ul {overflow:hidden;} 
#mobileGnb .memberMenu > li {float:left; width:50%; text-align: center; padding:15px 0; border-bottom: 1px solid #ddd; background-color: #f8f8f8;}
#mobileGnb .memberMenu > li:first-child {border-right: 1px solid #ddd;}
#mobileGnb .memberMenu > li > a {font-size:0.75em;display:block;}
#mobileGnb .address {position:absolute;bottom:80px;}
#mobileGnb .address p {font-size:16px;color:#808080;font-weight:300;line-height:1.9em;}


/* footer */
#footer {
    position: relative;
    background: #444;
    padding-bottom: 50px;
    padding-top: 30px;
}
#footer .addrWrap {position:relative;padding-left:180px;}
#footer .addrWrap address {color:#777;word-break:keep-all;line-height:1.7em;font-size:14px;}
#footer .clearFix {position:relative;}
#footer .addrWrap {float:left;}
#footer .addrWrap .fLogo {position:absolute;top:50%;transform:translateY(-50%);left:0;}
#footer .addrWrap .f-menu {}
#footer .addrWrap .f-menu ul li {float:left;margin-right:40px;position:relative;}
#footer .addrWrap .f-menu ul li:after {content:"";position:absolute;top:8px;right:-20px;width:1px;height:10px;background:rgba(255,255,255,0.5);}
#footer .addrWrap .f-menu ul li:last-child:after {display:none;}
#footer .addrWrap .f-menu ul li a {font-size:16px;color:#ccc;font-weight:500;}
#footer .addrWrap address {margin-top:20px;font-size:15px;}
#footer .addrWrap address p {color:#ccc;}
#footer .copyright {color:#999;margin-top:20px;}

#footer .cs-wrap {float:right;color:#ccc;}
#footer .cs-wrap .title {font-size:16px;}
#footer .cs-wrap .csBox {float:left;margin-right:50px;}
#footer .cs-wrap .csBox .tel {font-size:36px;color:#fffffe;font-weight:900;}
#footer .cs-wrap .csBox .time p {font-size:14px;}
#footer .cs-wrap .sns {float:right;}
#footer .cs-wrap .sns .title {margin-bottom:20px;}


.popup {position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.7);z-index: 1000;display:none;}
.popup .inner {width: 800px;height: 450px;position: absolute;top: 50%;left: 50%;margin-top: -225px;margin-left: -400px;}
.popup .inner iframe {vertical-align:top;}
.popup .btnClose {position:absolute;top:-40px;right:0;width:30px;}

.popup.inquiry .inner {padding:20px;background:#fff;width:500px;margin-left:-250px;}
.popup.inquiry .title {font-size:25px;color:#999;margin-bottom:20px;line-height:1;}
.popup.inquiry .title strong {font-size:40px;color:#e21e26;vertical-align:bottom;}
.popup.inquiry ul li {position:relative;margin-top:9px;}
.popup.inquiry ul li:first-child {margin-top:0;}
.popup.inquiry ul li input {}
.popup.inquiry ul li .icon {position:absolute;top:50%;left:10px;transform:translateY(-50%);line-height:0;}
.popup.inquiry textarea {height:140px;}
.popup.inquiry .btns {margin-top:20px;overflow:hidden;}
.popup.inquiry .btns div {float:left;width:50%;padding:2px;}
.popup.inquiry .btns div a {display:block;text-align:center;font-size:16px;color:#fff;font-weight:500;line-height:50px;}
.popup.inquiry .btns div:nth-child(1) a {background:#76b926;}
.popup.inquiry .btns div:nth-child(2) a {background:#b3aa7d;}
.popup.inquiry .btn {display:block;text-align:center;font-size:16px;color:#fff;font-weight:500;line-height:50px;background:#ce1e25;}
.popup.inquiry .btn img {margin-top:15px;margin-left:5px;}

div.cover {position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;background:rgba(0,0,0,0.7);disp lay:none;z-index:999;}

#btnTop {display:block;width:56px;height:56px;right:60px;background-size:100%;background-repeat:no-repeat;background-position:0 0;background-image:url("../images/layout/btn-top.png");transition:0.3s all ease-out;}


#searchWrap {position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.8);display:none;text-align:center;z-index:999;}
#searchWrap .auto_w {height:100%;}
#searchWrap .searchBox {width:100%;max-width:900px;display:inline-block;position:relative;text-align:left;padding:10px 0;border-bottom:1px solid #fff;}
#searchWrap .searchBox input {border:none;background:none;padding:0;font-size:30px;color:#fff;}
#searchWrap .searchBox a {position:absolute;top:19px;right:0;}
#searchWrap .btnClose {position:absolute;top:33px;right:10px;transition:0.3s;}

.roundline.bg {background:#f7f7f7;}

.search_top {
    position: absolute;
    top: 36px;
    right: 110px;
    z-index: 1;
}
.search_top a {line-height:25px;display:inline-block;margin:0 8px;color:#333;vertical-align:top;transition:0.3s;}
.search_top .material-icons{font-size:30px;}

/* HOVER */
@media all and (min-width:1200px){
	#header.on .gnb .gnbList > li:hover > a {color:#e21e26 !important;}
	.gnb .gnbList > li:hover > a:after {display:block;}
	.gnb .gnbList > li:hover .sub {display:block;opacity:1;max-height:1000px;}
	.gnb .gnbList > li .sub a:hover {color:#e21e26;}
	#header .util .language a:hover {color:#e21e26;text-decoration:underline;}
	#searchWrap .btnClose:hover {transform:rotate(180deg);}
	#header .headerTop .conR a:nth-child(1):hover {background-image:url("../images/layout/icon_facebook_on.png");}
	#header .headerTop .conR a:nth-child(2):hover {background-image:url("../images/layout/icon_instagram_on.png");}
	#header .headerTop .conR a:nth-child(3):hover {background-image:url("../images/layout/icon_youtube_on.png");}
}



@media all and (max-width:1760px) {
	.auto_w {width:100%;padding:0 10px;}

	#header .logo {left:50%;}
	#header .util {right:10px;}

.search_top {
    position: absolute;
    top: 36px;
    right: 110px;
    z-index: 2;
}

}
@media all and (max-width:1400px) {
	#header.on .gnb .gnbList > li > a {padding:0 30px;}
}
@media all and (max-width:1200px) {
	.auto {width:100%;padding:0 10px;}
	#header {height:60px;
	box-shadow: 0px 20px 25px 0px rgb(0 0 0 / 2%);
	}
	#gnb {display:none;}
	#header .logo {padding:13px 0;}
	#header .logo a img {height:35px}
	#header .language {
    top: 50%;
    transform: translateY(-59%);
	left:10px;

}
	#header .util {display:none;}
	#header .btnAllMenu {display:block;}
	#mobileGnb .btnAllMenuClose {width:25px;}

	#footer .addrWrap {padding-left:0;}
	#footer .addrWrap .fLogo {position:static;transform:translateY(0);margin-bottom:30px;display:block;}
	#footer .cs-wrap {margin-top:82px;}
	/* 탑버튼 */
	#btnTop {width:40px;height:40px;right:20px;}

#header .sns{display:none;}

.search_top {
    position: absolute;
    top: 15px;
    right: 39px;
    z-index: 11;
}

}
@media all and (max-width:980px){
	#footer {text-align:center;}
	#footer .addrWrap {float:none;}
	#footer .addrWrap .f-menu ul li {float:none;display:inline-block;}
	#footer .cs-wrap {float:none;margin-top:20px;text-align:center;}
	#footer .cs-wrap .csBox {float:none;margin-right:0;}
	#footer .cs-wrap .sns {float:none;margin-top:20px;}
	#footer .cs-wrap .sns .title {display:none;}

	/* 검색결과 */
	#searchWrap .searchBox {padding:0;}
	#searchWrap .searchBox a {width:20px;top:7px;}
	#searchWrap .searchBox input {font-size:14px;}
}

@media all and (max-width:800px){
	#footer .footerBottom .selectBox {display:none;}

	.popup .inner {width:auto;left:0;right:0;margin:20px;transform:translateY(-50%);}

	
	

}

@media all and (max-width:768px){	
	.footerTop_l ul li:nth-child(2) {display:none;}
}


@media all and (max-width:640px) {
	
	#header.scroll {top:0;}
	#header .headerTop {display:none;}
	
	#header .util {top:19px;}
	#header .util a {margin:0;font-size:11px;}
	#header .util .language {display:none;}
	#header .btnAllMenu {width:25px;}


	#mobileGnb .gnbList > li > a {font-size:20px;padding-right:20px;word-break:keep-all;}
	#mobileGnb .gnbList > li > a span:before {height:50%;top:13px;left:-20px;}
	#mobileGnb .gnbList > li .sub li a {font-size:16px;}
	
	#footer .addrWrap .f-menu {/* text-align:left; */}
	#footer .addrWrap .f-menu ul li {margin-right:20px;}
	#footer .addrWrap .f-menu ul li a {font-size:12px;}
	#footer .addrWrap .f-menu ul li:after {right:-12px;top:9px;}
	#footer .addrWrap address {font-size:12px;}
	#footer .addrWrap address .btns a {padding:5px 15px;}
	#footer .copyright {margin-top:5px;}
	

	.popup .inner {margin:10px;height:250px;}

	#btnTop {right:20px;}

	/* 검색결과 */
	#searchWrap .btnClose {top:18px;}
}
@media all and (max-width:480px) {
	
}
